
<ion-tabs>
  <ion-tab label="Dashboard" icon="ios-analytics" md="md-analytics" href="/tabs/(analytics:analytics)">
      <ion-router-outlet name="analytics" ></ion-router-outlet>
  </ion-tab> 
  <!-- 
<ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home" (click)="log()"></ion-router-outlet>
  </ion-tab>-->
  <!--<ion-tab label="Map" icon="map" href="/tabs/(map:map)">
    <ion-router-outlet name="map"></ion-router-outlet>
  </ion-tab>-->
  <ion-tab label="Products" icon="ios-cart" md="md-cart" href="/tabs/(products:products)">
    <ion-router-outlet name="products"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Scanner" icon="qr-scanner" href="/tabs/(scanner:scanner)">
    <ion-router-outlet name="scanner"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Sales" icon="ios-pricetags" md="md-pricetags" href="/tabs/(sales:sales)">
    <ion-router-outlet name="sales"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="ios-person" md="md-person" href="/tabs/(profile:edit-profile)">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>
  <!--<ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>-->
 
</ion-tabs>



