.numbs_{
    display: flex;
    flex-wrap: nowrap;
}


.ico_{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

ngx-charts-bar-vertical, :host ngx-charts-bar-vertical{
    max-width: 100% !important;
}