<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding fullscreen="true" color="light">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Online Shop</ion-card-title>
          <ion-card-subtitle class="text-orange">LoopServ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img class="icon" src="../../assets/map.png">
        </ion-card-content>

        <ion-card-content>
          Get your pop up shop online. Use our GPS tool allows you to easily
          get found by your shop or product details. Stay ahead of the game at open markets and carnivals.
        </ion-card-content>

        <ion-card-content>
            <ion-button 
              margin-top 
              expand="full" 
              color="tertiary" 
              shape="round"
              (click)="getStarted()"
              >Get Started</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Smart Menu</ion-card-title>
          <ion-card-subtitle class="text-orange">LoopServ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img class="icon" src="../../assets/menu.png">
        </ion-card-content>

        <ion-card-content>
          Get your menu online or print out QRcodes for your existing menu. Customers can buy straight from their
          device while on the queue.
        </ion-card-content>

        <ion-card-content>
            <ion-button 
              margin-top 
              expand="full" 
              color="tertiary" 
              shape="round"
              (click)="getStarted()"
              >Get Started</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Card Payment</ion-card-title>
          <ion-card-subtitle class="text-orange">LoopServ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img class="icon" src="../../assets/card.png">
        </ion-card-content>

        <ion-card-content>
          Get your menu online or print out QRcodes for your existing menu. Customers can buy straight from their
          device while on the queue.
        </ion-card-content>

        <ion-card-content>
            <ion-button 
              margin-top 
              expand="full" 
              color="tertiary" 
              shape="round"
              (click)="getStarted()"
              >Get Started</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Insights</ion-card-title>
          <ion-card-subtitle class="text-orange">LoopServ</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img class="icon" src="../../assets/report.png">
        </ion-card-content>

        <ion-card-content>
          See what times and locations different products sell faster. Predictive inventory management
        </ion-card-content>

        <ion-card-content>
            <ion-button 
              margin-top 
              expand="full" 
              color="tertiary" 
              shape="round"
              (click)="getStarted()"
              >Get Started</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>


  </ion-slides>
</ion-content>